<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Your favorites</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
    <header>
        <h2 th:text="${#authentication.name}"></h2>
        <a href="/view">view</a>
        <a href="/logout">logout</a>
        <h1>Favorites</h1>
    </header>
    <main>

    </main>
    <footer>
        <form th:each="image : ${favorites.values()}" action="/view">
            <button type="submit" name="date" th:value="${image.date()}" class="smallImageButton">
                <div class="smallDisplay">
                    <img class="smallImage" th:src="${image.url()}" alt="NASA image">
                </div>
            </button>
        </form>
    </footer>
    </body>
</html>